include README.md
include LICENSE
# sdist includes test/test*.py by default, but esptool.py tests
# are so far only intended to run from the git repo itself
prune test
prune flasher_stub
prune .github
prune docs
exclude .git*
exclude MANIFEST*
# the following scripts are only compatibility for the older "run from source dir" approach
# these are not used at all when installing with setup.py or pip
exclude esptool.py
exclude espefuse.py
exclude espsecure.py
