include README.md
include LICENSE
include esptool/targets/stub_flasher/*.json
include espefuse/efuse_defs/*.yaml
# sdist includes test/test*.py by default, but esptool.py tests
# are so far only intended to run from the git repo itself
prune test
prune flasher_stub
prune .github
prune docs
exclude .git*
